<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229966515695-603umv9eq5b9g60ocqqbe58hjsf0lld7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229966515695-603umv9eq5b9g60ocqqbe58hjsf0lld7</string>
	<key>API_KEY</key>
	<string>AIzaSyC-PIkbOsMCx3SrqOtRkizWg-svVNKhSg0</string>
	<key>GCM_SENDER_ID</key>
	<string>229966515695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ual.appLPS</string>
	<key>PROJECT_ID</key>
	<string>applps</string>
	<key>STORAGE_BUCKET</key>
	<string>applps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229966515695:ios:303965a69741bfd4133a1a</string>
</dict>
</plist>